@model  UsitColours.Models.SearchViewModel

<div class="container">
    <div class="col-lg-6">
        <h2>Search flight</h2>

        @Scripts.Render("~/bundles/jquery")

        @Scripts.Render("~/bundles/unobtrusive")

        @using (Ajax.BeginForm("Search", "Flight", new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "ticket",
            LoadingElementId = "loading"
        }))
        {
            <div class="form-group">
                <hr />
                @Html.ValidationSummary(true)
                <div class="form-group">

                    <label>Departure country</label>
                    @Html.DropDownList("CountriesDeparture", Model.Countries, new { id = "countriesDepartureList", @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Departure city</label>
                    @Html.DropDownList("CitiesDeparture", new SelectList(Enumerable.Empty<SelectListItem>()),
            "Select City", new { id = "citiesDepartureList", @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Departure airport</label>
                    @Html.DropDownListFor(m => m.AirportDepartureId, new SelectList(Enumerable.Empty<SelectListItem>()),
            "Select airport", new { id = "airportDepartureList", @class = "form-control" })
                </div>

                <div class="form-group">
                    <label>Arrival country</label>
                    @Html.DropDownList("CountriesArival", Model.Countries, new { id = "countriesArivalList", @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Arrival city</label>
                    @Html.DropDownList("CitiesArival", new SelectList(Enumerable.Empty<SelectListItem>()),
            "Select City", new { id = "citiesArivalList", @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Arrival airport</label>
                    @Html.DropDownListFor(m => m.AirportArrivalId, new SelectList(Enumerable.Empty<SelectListItem>()),
            "Select airport", new { id = "airportArivalList", @class = "form-control" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.DateOfDeparture, "Departure Date")
                    @Html.EditorFor(m => m.DateOfDeparture, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.DateOfDeparture)
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.AvailableSeats, "Available seats")
                    @Html.EditorFor(m => m.AvailableSeats, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.AvailableSeats)
                </div>
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Search" class="btn btn-success" />
                </div>
            </div>
        }
    </div>
    <div class="col-lg-6" id="ticket">
    </div>
    <div id="loading">
        Loading...
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#countriesDepartureList").change(function () {
            var dID = $(this).val();
            $.getJSON("../Flight/LoadCities", { countryId: dID },
                   function (data) {
                       var select = $("#citiesDepartureList");
                       select.empty();
                       select.append($('<option/>', {
                           value: 0,
                           text: "Select City"
                       }));
                       $.each(data, function (index, itemData) {
                           select.append($('<option/>', {
                               value: itemData.Value,
                               text: itemData.Text
                           }));
                       });
                   });
        });
    });

    $(document).ready(function () {
        $("#citiesDepartureList").change(function () {
            var dID = $(this).val();
            $.getJSON("../Flight/LoadAirports", { cityId: dID },
                   function (data) {
                       var select = $("#airportDepartureList");
                       select.empty();
                       select.append($('<option/>', {
                           value: 0,
                           text: "Select airport"
                       }));
                       $.each(data, function (index, itemData) {
                           console.log(index);
                           console.log(itemData);
                           select.append($('<option/>', {
                               value: itemData.Id,
                               text: itemData.Name
                           }));
                       });
                   });
        });
    });

    $(document).ready(function () {
        $("#countriesArivalList").change(function () {
            var dID = $(this).val();
            $.getJSON("../Flight/LoadCities", { countryId: dID },
                   function (data) {
                       var select = $("#citiesArivalList");
                       select.empty();
                       select.append($('<option/>', {
                           value: 0,
                           text: "Select City"
                       }));
                       $.each(data, function (index, itemData) {
                           select.append($('<option/>', {
                               value: itemData.Value,
                               text: itemData.Text
                           }));
                       });
                   });
        });
    });

    $(document).ready(function () {
        $("#citiesArivalList").change(function () {
            var dID = $(this).val();
            $.getJSON("../Flight/LoadAirports", { cityId: dID },
                   function (data) {
                       var select = $("#airportArivalList");
                       select.empty();
                       select.append($('<option/>', {
                           value: 0,
                           text: "Select airport"
                       }));
                       $.each(data, function (index, itemData) {
                           select.append($('<option/>', {
                               value: itemData.Id,
                               text: itemData.Name
                           }));
                       });
                   });
        });
    });
</script>