@model UsitColours.Areas.Admin.Models.AddJobViewModel

@using (Html.BeginForm("AddJob", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="container">
        @Html.LabelFor(m => m.JobDescription, "Job description")
        @Html.TextAreaFor(m => m.JobDescription)
        @Html.ValidationMessageFor(m => m.JobDescription)
    </div>
    <div class="container">
        <div class="form-inline">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.JobTitle, "Job title")
                        @Html.EditorFor(m => m.JobTitle, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.JobTitle)
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Price, "Price")
                        @Html.EditorFor(m => m.Price, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Wage, "Wage ($ per hour)")
                        @Html.EditorFor(m => m.Wage, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Slots, "AvailableSlots")
                        @Html.EditorFor(m => m.Slots, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.StartDate, "StartDate")
                        @Html.EditorFor(m => m.StartDate, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.EndDate, "EndDate")
                        @Html.EditorFor(m => m.EndDate, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.CompanyName, "CompanyName")
                        @Html.EditorFor(m => m.CompanyName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.CompanyName)
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>City</label>
                        @Html.DropDownList("Country", Model.Countries, new { id = "countriesList" });
                        @Html.DropDownListFor( m => m.CityId , new SelectList(Enumerable.Empty<SelectListItem>()),
"Select City", new { id = "cityList" });
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.RadioButtonFor(m => m.IsDefaultImage, true) Use default image
                            <div class="row">
                                <img src="/Images/job-default.jpg" width="200" height="100" style="border-radius: 8px;" alt="default job image" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-md-12">
                                @Html.RadioButtonFor(m => m.IsDefaultImage, false) Upload your image
                            </div>
                            <input type="file" name="file" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <input type="submit" value="AddJob" class="btn btn-sm btn-warning" />
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    $(document).ready(function () {
        $("#countriesList").change(function () {
        var dID = $(this).val();
            $.getJSON("../Admin/LoadCities", { countryId: dID },
                   function (data) {
            var select = $("#cityList");
            select.empty();
            select.append($('<option/>', {
                value: 0,
                           text: "Select City"
                       }));
                       $.each(data, function (index, itemData) {
                select.append($('<option/>', {
                    value: itemData.Value,
                               text: itemData.Text
                           }));
            });
        });
    });
});

 </script>