@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Admin</h1>

@Styles.Render("~/Content/admin/css")

<div class="container body-content">
    <div class="page-content">
        <div class="row" style="padding-top:20px;">
            <div class="col-md-2">
                <div class="sidebar content-box" style="display: block;">
                    <ul class="nav">
                        <li>
                            @Ajax.ActionLink(
                           "Add country", "AddCountry", "Admin", new AjaxOptions()
                           {
                               HttpMethod = "GET",
                               AllowCache = false,
                               InsertionMode = InsertionMode.Replace,
                               UpdateTargetId = "admin-content"
                           })
                        </li>
                        <li>
                            @Ajax.ActionLink(
                           "Add city", "AddCity", "Admin", new AjaxOptions()
                           {
                               HttpMethod = "GET",
                               AllowCache = false,
                               InsertionMode = InsertionMode.Replace,
                               UpdateTargetId = "admin-content"
                           })
                        </li>
                        <li>
                            @Ajax.ActionLink(
                           "Add airline", "AddAirline", "Admin", new AjaxOptions()
                           {
                               HttpMethod = "GET",
                               AllowCache = false,
                               InsertionMode = InsertionMode.Replace,
                               UpdateTargetId = "admin-content"
                           })
                        </li>
                        <li>
                            @Ajax.ActionLink(
                           "Add airport", "AddAirport", "Admin", new AjaxOptions()
                           {
                               HttpMethod = "GET",
                               AllowCache = false,
                               InsertionMode = InsertionMode.Replace,
                               UpdateTargetId = "admin-content"
                           })
                        </li>
                        <li>
                            @Ajax.ActionLink(
                           "Add Flight", "AddFlight", "Admin", new AjaxOptions()
                           {
                               HttpMethod = "GET",
                               AllowCache = false,
                               InsertionMode = InsertionMode.Replace,
                               UpdateTargetId = "admin-content"
                           })
                        </li>
                        <li><a href="EditFlights.aspx"><i class="glyphicon glyphicon-plus"></i> Edit flight</a></li>
                        <li><a href="AddJob.aspx"><i class="glyphicon glyphicon-plus"></i> Add Job</a></li>
                        <li><a href="TicketSales.aspx"><i class="glyphicon glyphicon-plus"></i> Ticket Sales</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-10">
                <div class="content container-fluid">
                    <div id="admin-content">
                        <h1>Admin panel</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/unobtrusive")


